[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = git://vim-latex.git.sourceforge.net/gitroot/vim-latex/vim-latex/
[submodule "bundle/smart-parentheses"]
	path = bundle/smart-parentheses
	url = git://github.com/vim-scripts/Smart-Parentheses.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/CuteErrorMarker"]
	path = bundle/CuteErrorMarker
	url = git://github.com/Twinside/vim-cuteErrorMarker.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/VisIncr"]
	path = bundle/VisIncr
	url = git://github.com/vim-scripts/VisIncr.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/OmniCppComplete"]
	path = bundle/OmniCppComplete
	url = git://github.com/vim-scripts/OmniCppComplete.git
[submodule "bundle/javacomplete"]
	path = bundle/javacomplete
	url = git://github.com/vim-scripts/javacomplete
[submodule "bundle/scala-vim-support"]
	path = bundle/scala-vim-support
	url = git://github.com/vgod/scala-vim-support.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "boundle/unite"]
	path = boundle/unite
	url = https://github.com/Shougo/unite.vim
[submodule "bundle/unite"]
	path = bundle/unite
	url = https://github.com/Shougo/unite.vim
[submodule "bundle/vimproc"]
	path = bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim
[submodule "bundle/unite-outline"]
	path = bundle/unite-outline
	url = https://github.com/Shougo/unite-outline
[submodule "bundle/neomru"]
	path = bundle/neomru
	url = https://github.com/Shougo/neomru.vim
[submodule "bundle/unite-tag"]
	path = bundle/unite-tag
	url = https://github.com/tsukkee/unite-tag
[submodule "bundle/vim_colors_solarized"]
	path = bundle/vim_colors_solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim_colors_gruvbox"]
	path = bundle/vim_colors_gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "neocomplcache"]
	path = neocomplcache
	url = https://github.com/Shougo/neocomplcache.vim
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/denite"]
	path = bundle/denite
	url = https://github.com/Shougo/denite.nvim.git
